body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color:white;
	font-size:15pt;
}

h1{
	font-size:150%;
	color:black;
	text-align:center;
	margin-top:10px;
	margin-bottom:0px;
}

h2{
	font-size:50%;
	color:blue;
	text-align:center;
	font-style:"Times New Roman";
	font-weight:bold;
}

h3{
	font-size:150%;
	color:Black;
	margin-left:5%;
	margin-bottom: 0px;
	font-style:"Times New Roman";
	font-weight:bold;
}

p{
	color:black;
	font-size:130%;
	margin-left:5%;
}

p.hover{
	margin-left:5%;
	cursor:pointer;
}

p.button{
	display:inline;
	border-style:outset;
	border-width:5px
}

p.app{
	opacity:1;
	display:none;
}

p.footer{
	font-size:50%;
}

a{
	color:blue;
	text-decoration: none;
}

img.menuicon{
	margin-top:2.5px;
	height:40px;
	width:40px;
	display:inline-block;
	vertical-align:middle;
}

img.slideshow{
	height:200;
	width:325;
}

.poll {
	color:white;
	background-color:black;
	font-size:120%;
	overflow:hidden;
}

.header{
	background-color:white;
	color:black;
}

.section-break{
	margin-top:10px;
	background-color:black;
}

.forecastdiv{

}

.little-break{
	margin-top:5px;
	background-color:white;
}

footer{
	background-color:silver;
	color:black;
	margin-top:25px;
}

hr{
	color:black;
	background-color:black;
	height:3px;
	border:1;
	width:100%;
}

dl{
	margin-left:1%;
	font-weight:bold
}

.square{
	height: 45px;
	width: 45px;
	background: silver;
	margin-left:5%;
	cursor: pointer;
	text-align: center;
	line-height: 45px;
}

table.btcprices{
	font-size:130%;
	border-spacing:50 0;
}

#map-canvas {
	height: 50%;
	width: 75%;
	margin:0 auto;
}