body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color:silver;
	font-size:15pt;
}

h1{
	font-size:300%;
	color:black;
	text-align:center;
	margin-top:10px;
	margin-bottom:0px;
}

h2{
	font-size:140%;
	color:blue;
	text-align:center;
	font-style:"Times New Roman";
	font-weight:bold;
}

p{
	margin-left:1%;
	color:black;
	font-size:130%;
}

.poll {
	color:white;
	background-color:black;
	font-size:120%;
	overflow:hidden;
}

.header{
	background-color:silver;
	color:black;
}

.middle{
	background-color:silver;
	color:black;
	border:1;
}

.section-break{
	margin-top:10px;
}

footer{
	background-color:gray;
	color:black;
	margin-top:25px;
}

hr{
	color:black;
	background-color:black;
	height:3px;
	border:1;
	width:100%;
}

dl{
	margin-left:1%;
	font-weight:bold
}

@-webkit-keyframes colorchange {
	0% {background: red}
	50% {background: orange}
	100% {background: red}
}

@-webkit-keyframes textchange {
	from {opacity: 0}
	to {opacity: 1}
}

.square{
	height: 50px;
	width: 100px;
	background: red;
	margin-left:50px;
	-webkit-transition:width 1s ease-in-out;
}

.content{
	color: black;
	opacity: 0;
}
.content2{
	color: black;
	opacity: 0;
}

.square:hover  > .content{
	-webkit-animation:textchange 2s ease-in-out;
	-webkit-animation-fill-mode:forwards;
}

.square:hover  > .content2{
	-webkit-animation:textchange 2s ease-in-out;
	-webkit-animation-delay: 2s;
	-webkit-animation-fill-mode:forwards;
}

.square:hover {
	width:1000px;
	-webkit-animation:colorchange 3s ease-in-out;
}